@import url(../main.css);

/* --family: 'Inter', sans-serif;
--red: #8E2424;
--gray: #667085; 
--dark-blue: #101828; */

.red--text--color {
    color: var(--red);
}
.gray--text--color {
    color: var(--gray);
}
.blue--text--color {
    color: var(--blue);
}