@import url(../main.css);

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
  background-color: #fff;
  font-weight: 500;
}
header a {
  margin: 0 0.8rem;
  font-size: 100%;
}
header nav a,
.sign-in {
  color: var(--gray);
}
.sign-up {
  background-color: var(--red);
  color: #fff;
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 10px;
}
.box-logo,
.container-menu {
  display: flex;
  align-items: center;
}
.box-menu {
  margin-left: 8rem;
}
.box-logo span {
  color: #3A404E;
  margin-left: 0.5rem;
  font-size: 1.2rem;
}
