/* 
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@family: 'Inter', sans-serif;
@red: #8E2424;
@gray: #667085;
 */
 
@import url(./styless-header.css);
@import url(./styless-section-sobre.css);
@import url(./styless.section-metricas.css);
@import url(./widescreen-styles.css);