@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuI6fMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuGKYMZg.ttf) format('truetype');
}
html {
  font-size: 96%;
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
body {
  background-color: #667085;
  font-family: 'Inter', sans-serif;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
  background-color: #FFFFFF;
  font-weight: 500;
}
header a {
  margin: 0 0.8rem;
  font-size: 1rem;
}
header nav a,
#sign-in {
  color: #667085;
}
#sign-up {
  background-color: #8E2424;
  color: #FFFFFF;
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 10px;
}
#box-logo,
#container-menu {
  display: flex;
  align-items: center;
}
#box-menu {
  margin-left: 8rem;
}
#box-logo span {
  margin-left: 0.5rem;
  font-size: 1.2rem;
}
